// 表格padding减小
#table_size {
	.ant-table-thead > tr > th,
	.ant-table-tbody > tr > td {
		padding: 10px 5px;
	}
}
// #fourFrom {
// 	.ant-form-item {
// 		margin-bottom: 15px;
// 		font-size: 12px;
// 	}
// }
// #allFrom{
// /deep/.ant-form-item-with-help {
//      margin-bottom: 0; 
// }
// .ant-form-item {

// 	  margin-bottom: 0;
// }
// }

// unset
.ant-form-inline .ant-form-item {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 24px !important;
}
.ant-form-inline .ant-form-item-with-help {
    margin-bottom: 0 !important;
}

#stateFrom {
	.ant-form-item-label label{
		color:rgba(140,152,158,1);
		font-size:14px;
	}
	
	
	.ant-form-item {
		margin-bottom: 15px;
		font-size: 12px;
	}
	.ant-form-item-children {
		.ant-input{
			color:rgba(50,50,50,1);
			font-weight: 600;
		}
		span {
			float: left;
			width: 40px;
			display: inline-block;
			font-weight: 600;
			height: 32px;
			i {
				float: left;
				display: inline-block;
				font-weight: 600;
			}
		}
		.span{
			
			padding: 0 2px;
			width: auto ;
		}
	}
	.ant-form-item-label{
		line-height: 32px;
		}
		.ant-form-item-control{
			line-height: 32px;
			height: 32px;
		}
}
.modelForm{
	.ant-modal-footer{
		border: none;
		padding: 0 ;
	}
.ant-table{
	margin-bottom: 10px;
}
form .ant-select, form .ant-cascader-picker{
	width: 80px;
}


}
.set-form{
	.ant-modal-footer{
		text-align: center;
		border: none;
	
	}
	.ant-modal-footer button + button{
		margin-left: 17px;
	}
	
}